/**
 *
 *  Document
 *
**/

body {

	padding: 80px 20px 20px 20px;

}

hr {

	color: #CCCCCC !important;
	border-color: #CCCCCC !important;

}

/**
 *
 *  Highlight
 *
**/

span.highlight {

	background-color: rgba(238, 207, 0, 0.65);
    padding: 0px 2px;
    border-radius: 3px;
    margin: -0px -2px;
    -webkit-animation: pulseFocusedOverlay 185ms ease-in-out 0;

}

/**
 *
 *  Step Wizard
 *
**/

.stepwizard-step p {

    margin-top: 10px;

}

.stepwizard-row {

    display: table-row;

}

.stepwizard {

    display: table;
    width: 100%;
    position: relative;

}

.stepwizard-row:before {

    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;

}

.stepwizard-step {

    display: table-cell;
    text-align: center;
    position: relative;

}

.stepwizard-step.disabled {

    opacity: 0.65;
    filter: alpha(opacity=65);

}

.btn-circle {

	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.428571429;
	border-radius: 15px;

}

/**
 *
 *  AutoComplete
 *
**/

.ui-autocomplete {

	top: 5px;

}

.ui-autocomplete.wide {

	width: 500px !important;

}

.ui-autocomplete.dropdown-menu a {

	cursor: pointer;

}

.ui-helper-hidden-accessible {

	display: none;

}